body {
    background-color: lightcyan;
    padding: 30px;
  }

  h1,
  p,
  a {
    font-family: sans-serif;
  }

  h1 {
    font-size: 76px;
    color: #5b6361;
  }

  p {
    font-size: 24px;
    color: #353a39;
    cursor: pointer;
    margin-bottom: 3em;
  }

  a {
    padding: 10px;
    font-size: 24px;
    background-color: #5b6361;
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    background-color: #353a39;
  }